.gradle/8.14/checksums/checksums.lock
.gradle/8.14/checksums/md5-checksums.bin
.gradle/8.14/checksums/sha1-checksums.bin
.gradle/8.14/fileChanges/last-build.bin
.gradle/8.14/fileHashes/fileHashes.lock
.gradle/8.14/gc.properties
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-8bc85877dd/1.21.1-net.fabricmc.yarn.1_21_1.1.21.1+build.3-v2/minecraft-merged-8bc85877dd-1.21.1-net.fabricmc.yarn.1_21_1.1.21.1+build.3-v2.jar
.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-8bc85877dd/1.21.1-net.fabricmc.yarn.1_21_1.1.21.1+build.3-v2/minecraft-merged-8bc85877dd-1.21.1-net.fabricmc.yarn.1_21_1.1.21.1+build.3-v2.pom
.gradle/vcs-1/gc.properties
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
gradle/wrapper/gradle-wrapper.properties
/.gradle
/build
/libs
/.idea
